# DirectoryIndex index.php

# RewriteEngine on
# # Если запрашиваемая в URL директория или файл существуют обращаемся к ним напрямую
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# # Если нет - перенаправляем запрос на index.php
# RewriteRule . index.php

Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php